In [34]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder
import pickle

In [35]:
dataset = pd.read_csv(r'car_price_dataset.csv')
dataset.head(3)

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
5,Toyota,Camry,2007,2.7,Petrol,Automatic,157889,4,4,7242
6,Honda,Civic,2010,3.4,Electric,Automatic,139584,3,1,11208
7,Kia,Sportage,2001,4.7,Electric,Semi-Automatic,157495,2,2,7950
8,Kia,Sportage,2014,2.6,Hybrid,Manual,98700,3,4,9926
9,Toyota,RAV4,2005,3.1,Petrol,Manual,107724,2,5,6545

In [36]:
df = dataset.drop(columns=["Brand", "Model","Fuel_Type","Transmission"])
df.head()

   Year  Engine_Size  Mileage  Doors  Owner_Count  Price
0  2020          4.2   289944      3            5   8501
1  2012          2.0     5356      2            3  12092
2  2020          4.2   231440      4            2  11171
3  2023          2.0   160971      2            1  11780
4  2003          2.6   286618      3            3   2867

In [37]:
X = df[['Year', 'Engine_Size','Mileage','Doors','Owner_Count']]
y = df['Price']

In [38]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2)

In [39]:
regression = linear_model.LinearRegression()

In [40]:
regModel = regression.fit(X_train,y_train)

In [41]:
pred = regModel.predict(X_test)
print(pred)

[7139.4893989  8012.90178841 5831.02308691 ... 5720.78538808 4629.17776746
 8893.42206962]

In [42]:
eff = regModel.score(X_test, y_test)

In [43]:
efficiency = eff*100
efficiency

88.22958924485467

In [45]:
with open('model.pkl','wb') as f:
    pickle.dump(regModel,f)